# ignore automatic generated documentation, test and coverage results
doc
htmlcov
.coverage
coverage.xml
pjunit.xml
.pytest_cache

# python stuff
**/__pycache__
*.pyc

# editor settings
.vscode

# project specific
/*.json
logs/
