stages:
  - test
  - docu
  - deploy

variables:
  CODECOV_TOKEN: "754dfb7f-65e3-4076-8572-81ddc52d60c1"

default:
  image: python:3.6-alpine
  before_script:
    - pip install -r requirements.txt
    - pip install -r requirements_tools.txt

pytest:3.6:
  stage: test
  artifacts:
    paths:
      - htmlcov
      - cov.xml
    expire_in: 30 days
  script:
    - pytest 


pytest:3:
  stage: test
  image: python:3
  artifacts:
    paths:
      - htmlcov3
      - cov3.xml
    expire_in: 30 days
  script:
    - pytest
  after_script:
    - mv htmlcov htmlcov3
    - mv cov.xml cov3.xml

pdoc:
  stage: docu
  artifacts:
    paths:
      - doc/PyLeihe
    expire_in: 30 days
  script:
    - pdoc --html -o ./doc -f PyLeihe

coverage:
  stage: docu
  dependencies:
    - pytest:3.6
  allow_failure: true
  before_script:
    - pip install codecov
    - apk --no-cache add curl
    - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
    - chmod +x ./cc-test-reporter
    - ./cc-test-reporter before-build
  script:
    - codecov
    - ./cc-test-reporter after-build --coverage-input-type coverage.py

pages:
  stage: deploy
  script:
    - mv doc/PyLeihe public/
    - mv htmlcov public/htmlcov
    - mv htmlcov3 public/htmlcov3
  artifacts:
    paths:
      - public
    expire_in: 30 days
  only:
    - master
    - /.*pages.*$/
  